.col-3__form-correcto .formcontato__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.col-3__form-incorrecto .formcontato__label{
    color: #bb2929;
}

.col-3__form-incorrecto .formcontato__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.col-3__form-incorrecto .formcontato__input{
    border: 3px solid #bb2929;
}

.formcontato__input-error{
    font-size: 10px;
    padding: 2px 0;
	margin-bottom: 0;
	display: none;
}
.formcontato__form-input{
    position: relative;
}
.formcontato__input-error-activo{
    display: block;
}

.formcontato__validacion-estado{
    position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formcontato__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}
.formcontato__mensaje-exito-activo {
	display: block;
}
.formcontato__mensaje {
	height: 45px;
	line-height: 20px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formcontato__mensaje-activo {
	display: block;
}

.formcontato__mensaje p {
	margin: 0;
}

.advertence{
	position: relative;
	font-size: 10px;
	top: 3px;
}
.formcontato__campotext {
	position: relative;
	height: 40px;
	line-height: 20px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	margin: 2px 0;
	display: none;
}
.formcontato__campotext-activo {
	display: block;
}